body {
    background-image: url("../img/background.jpg");
    font-family: FreeMono, monospace;
    text-align: justify;
    margin: 30px 30px;
}

table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
}

ul {
    margin-bottom: 0px;
}

h3 {
    text-decoration: underline;
}
p {
    margin-bottom: 0px;

}

#strongerpunchButton {
    background-color: red;
    color: white;
    font-size: 16px;
  }
  
  #strongerbodyButton {
    background-color: blue;
    color: white;
    font-size: 16px;
  }
  
  #textarea {
    width: 200px;
    height: 30px;
    border: 1px solid black;
  }