body {
    background-image: url("../img/background.jpg");
    font-family: FreeMono, monospace;
    text-align: justify;
}

table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
}

ul {
    margin-bottom: 0px;
}

h3 {
    text-decoration: underline;
}
p {
    margin-bottom: 0px;

}
