table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
}

ul {
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
}


.wrap img {
    height: 100%;
    100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
}
.wrap {
    position: relative;
    height: 300px;
    width: 300px;
    transition: all 1s;
    overflow: hidden;
}
.wrap img:last-child {
    top: 100%;
}
.wrap:hover img:first-child {
    top: -100%;
}
.wrap:hover img:last-child {
    top: 0;
}
.wrap p {
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100%;
    height: 30px;
    color: white;
    transition: all 1s;
    z-index: 8;
}
.wrap:hover p {
    opacity: 1;
}