table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
}

ul {
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
}


div {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 4s;
}

div:hover {
    width: 300px;
    height: 300px;
}